.card {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.deleteIcon {
  color: #ff4d4d;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.deleteIcon:hover {
  color: #ff0000;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 90%;
    margin: 15px auto;
  }

  .cardTitle {
    font-size: 1rem;
  }

  .deleteIcon {
    font-size: 1rem;
  }
}

/* Mobile Phones */
@media screen and (max-width: 480px) {
  .card {
    max-width: 100%;
    padding: 10px;
    margin: 10px auto;
  }

  .cardBody {
    flex-direction: column;
  }

  .cardTitle {
    font-size: 0.9rem;
  }

  .deleteIcon {
    font-size: 0.9rem;
  }
}
